<form method="post" action="/admin/about" enctype="multipart/form-data">
    <input type="text" name="firstName" placeholder="firstName" value="{{about.firstName}}" required >
    <br> <br>
    <input type="text" name="lastName" placeholder="lastName" value="{{about.lastName}}" required >
    <br> <br>
    <input type="text" name="secondName" placeholder="secondName" value="{{about.secondName}}" required >
    <br> <br>
    <input type="text" name="description" placeholder="description" value="{{about.description}}" required >
    <br> <br>
    <input type="file" name="photoUrl">
    <br> <br>
    <input type="submit" value="Tesdiq et" >
</form>