<a href="/admin/about"> About </a>
<br>
<a href="/admin/award"> Award </a>
<br>
<a href="/admin/contact"> Contact </a>
<br>
<a href="/admin/education"> Education </a>
<br>
<a href="/admin/experience"> Experience </a>
<br>
<a href="/admin/interest"> Interest </a>
<br>
<a href="/admin/skill"> Skill </a>
<br>
<a href="/admin/workflow"> Workflow </a>
<br>
<a href="/admin/log"> Log </a>
<br>