<form method="post" action="/admin/login">
    <input type="text" name="username" required >
    <br> <br>
    <input type="password" name="password" required >
    <br> <br>
    <input type="submit" value="Girish et" >
</form>